.container {
  display: grid;

  height: 100vh;

  --max-singular-column-height: 340px;

  grid-template-columns: var(--max-singular-column-height) 0 auto;
  grid-template-rows: 93px 0;
  grid-template-areas:
    "side head head"
    "side body body"
    "side body body";

  &>.side-bar {
    grid-area: side;

    padding-left: 32px;

    border: var(--section-border);
    border-right-style: solid;

    background-color: var(--color-side-bar-background);

    &>#organization-name {
      font-family: "Roboto";
      font-weight: 600;

      margin-top: 54px;
      margin-bottom: 48px;
    }

    & .page-link {
      display: flex;

      align-items: center;
      text-decoration: none;

      gap: 18px;
      margin-bottom: 32px;

      opacity: 80%;
      transition: var(--transition-time);

      &:hover {
        scale: var(--hover-scale);
      }

      & * {
        margin: 0;
      }
    }
  }

  &>.top-bar {
    grid-area: head;

    border: var(--section-border);
    border-bottom-style: solid;
  }

  &>.body {
    display: grid;

    grid-area: body;
    grid-template-columns: auto 60%;
    grid-template-rows: 55% auto;
    grid-template-areas:
      "transcription article"
      "description article";

    padding-right: 16px;
    padding-bottom: 16px;

    & .body-section {
      display: flex;
      flex-direction: column;

      margin-top: 32px;
      margin-left: 16px;

      --inner-indent: 16px;

      padding-bottom: var(--inner-indent);

      height: auto;
      width: auto;

      border: var(--section-border);
      border-radius: var(--border-radius);
      border-style: solid;

      overscroll-behavior: none;
      overflow: auto;

      /* Style properties for article-section title exclusively */
      &>.section-title-container>.section-name {
        margin-top: var(--inner-indent);
      }

      /* General style properties for all section-titles */
      & .section-title-container {
        position: sticky;
        top: 0;

        padding-bottom: 8px;

        border: var(--section-border);
        border-bottom-style: solid;

        background-color: white;

        &>.section-name {
          margin-left: var(--inner-indent);
          margin-bottom: 0;
        }
      }

      & p {
        margin-left: var(--inner-indent);
        margin-top: 8px; 
        margin-bottom: 0;

        padding-right: 8px;
      }

      &>#article-section-title-container {
        display: flex;

        align-items: center;
        gap: 32px;

        & * {
          margin-top: var(--inner-indent);
        }

        &>audio {
          height: 30px;

          border-radius: var(--border-radius);
        }
      }
    }

    &>#description-section {
      grid-area: description;
    }

    &>#transcription-section {
      grid-area: transcription;

      max-height: var(--max-singular-column-height);

      & div p:last-of-type {
        margin-top: 0;
      }
    }

    &>#article-section {
      grid-area: article;
    }
  }
}
